body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 40px;
    font-size: 15px;
}

header> img {
    display:flex;
    justify-content: space-between;
    float:left;
    height:50px
}

nav {
    display: flex;
    gap: 20px;
}

nav > a { 
 color: #333;
 text-decoration: none;
 margin-left: 40px;
}
/*nav > a hover */ 
a:first-child {
    margin: 0;
}
a:first-child(2) {
    margin: 0;
}

main{
display:flex;
justify-content: space-between;
align-items: center;
width:800px;
}

main > div {
width: 40%;
float: left;    
}

h1 {
margin: 0;
font-size: 60px;
font-weight: normal;
}
div > p {
margin: 0;
}

div > p:first-of-type {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: normal;
}
div > p:last-of-type {
font-size: 20px;
}

main > div > div {
display: flex;
gap: 20px;
flex: wrap;
}

main a{
    display: inline-block;
    background-color: rgb(38, 38, 105);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid rgb(16, 12, 34);
}

main a:last-child {
    background-color: rgb(237, 236, 248) ;
    color: rgb(29, 27, 31);
}

main a:hover {
background-color: rgb(218, 35, 35);
text-decoration: underline;
cursor:crosshair;
}
main a:last-child:hover {
    background-color: rgb(218, 35, 35) ;
    color: rgb(29, 27, 31);
    cursor:crosshair;
}    

main > img {
width: 60%;
float: right;  /*cursor:hover(busena)*/
}
 

footer {
display: flex;
justify-content: space-between;
background-color: lightgrey;
width: 800px;
}

footer > div {
display: flex;
gap:10px;
align-items:center;
align-content:space-between;
}
footer p {
margin: 0;
}