body {
    font-family: Arial;
}

header {
    float: left;
    width: 800px;
    background-color: pink;
}

header> img {
    float:left;
}

nav {
    float:right;
    background-color:rgba(238, 232, 232, 0.897);

}

nav > a { 
 color: #333;
 text-decoration: none;
 margin-left: 40px;
}
a:first-child {
    margin: 0;
}
a:first-child(2) {
    margin: 0;
}

main{
 float:left;
 width:800px;
 margin-left: calc(50%-400);
}

main > div {
width: 40%;
float: left;    
}

main > img {
width: 60%;
float: right;
}